{% extends 'base.html.twig' %}

{% block title %}Join to Yoga session{% endblock %}

{% block body %}
<style>

</style>
    <nav id="navbar" class="navbar navbar-light bg-light mt-3">
        <a class="ml-5 navbar-brand" href="#">
            <img src="{{ asset('build/img/logo.png') }}" width="auto" height="70" alt="logo">
        </a>

        <div class="dropdown mr-5">
            <button class="nav-icon btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item mt-4" href="#">Class</a>
                <a class="dropdown-item mt-4" href="#">Promo</a>
                <a class="dropdown-item mt-4" href="#">Online</a>
                <a class="dropdown-item mt-4" href="#">Contact</a>
            </div>
        </div>
    </nav>

{% endblock %}
