{% extends 'base.html.twig' %}

{% block title %}Join to Yoga session{% endblock %}

{% block body %}
<style>

</style>
    <nav id="navbar" class="navbar navbar-light bg-light mt-3">
        <a class="ml-5 navbar-brand" href="#">
            <img src="{{ asset('build/img/logo.png') }}" width="auto" height="70" alt="logo">
        </a>
        <div class="dropdown mr-5">
            <button class="nav-icon btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item mt-4" href="#">Class</a>
                <a class="dropdown-item mt-4" href="#">Promo</a>
                <a class="dropdown-item mt-4" href="#">Online</a>
                <a class="dropdown-item mt-4" href="#">Contact</a>
            </div>
        </div>
    </nav>
    <section id="main-img">
        <div class="jumbotron container-fluid pr-0 pl-0" style="">
            <div class="bg-cover">
                <div class="container">
                    <p class="mt-3 mb-2 slogan">Health & Fresh</p>
                    <p class="mt-4 mb-2 title"> YOGA </p>
                    <p class="lead mt-4 mb-4 text">Lorem ipsum dolor sit amet, consectetur <br> adipiscing  elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div>
    </section>
    <section id="ourTeam">
        <div class="container-fluid p-0">
            <div class="half-circle text-center m-auto">
                <p class="pt-5 slogan">Meet Our</p>
                <p class="title">Yoga Classes</p>
            </div>
        </div>

    </section>
{% endblock %}
