.half-circle-down {
  background-color: $semi-circle;
  max-width: 1400px;
  height: 200px;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: $main-text !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(112,87,125, 0.5);
  font-family: "Open Sans", sans-serif;
}
