#ourTeam {
  .container-fluid {
    background: #fff;
    display: inline-block;
    margin-top: -2em;
      .slogan {
        font-weight: 300;
        font-size: 2.25em;
      }
      .title {
        font-weight: 700;
        font-size: 2.5em;
      }
    }
    .card-body {
      color: $main-text!important;
      letter-spacing: 1px;
      .card-title,
      .day {
        font-weight: 700;
        .time {
          font-weight: 300;
        }
      .card-text {
        font-size: 1em;
      }
    }
    hr {
      border: 0;
      border-top: 2px solid $main-text;
    }
  }
}
@media(max-width: 767px) {
    .slogan {
      font-size: 1.25em!important;
    }
    .title {
      font-weight: 700;
      font-size: 1.5em!important;
    }
  .row {
    width: 100%!important;
  }
  .card-body {
    margin: 0!important;
    padding: .5em 1em!important;
  }
}
