#ourTeam {
  .container-fluid {
    background: #fff;
    display: inline-block;
    margin-top: -2em;
    .half-circle {
      background-color: #e9f2f2;
      width: 1400px;
      height: 200px;
      border-radius: 50% / 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      color: #70577d!important;
      text-transform: uppercase;
      letter-spacing: 1px;
      box-shadow: 0 0 3px #70577d;
      .slogan {
        font-weight: 300;
        font-size: 2em;
      }
      .title {
        font-weight: 700;
        font-size: 2.25em;
      }
    }
  }

}
.bottom {
  border-bottom-left-radius: $size * 2;
  border-bottom-right-radius: $size * 2;
}
