* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media(max-width: 1200px) {
  .container {
    width: 80%;
  }
}
.small-icon {
  width: 42px;
  height: 42px;
}
.p-mb {
  padding: 1em!important;
}
.force-w-50 {
  width: 50%;
}
@media(max-width: 767px) {
  .mobile-center {
    justify-content: center!important;
    text-align: center!important;
  }
  .w-33 {
    width: 33% !important;
  }
  .mb-w-100 {
    width: 100% !important;
  }
}
@media(max-width: 620px) {
  .hide-sm {
    display: none!important;
  }
  .w-33 {
    width: 33% !important;
  }
}
