$whiteHeader: #ffffff;
$blueSection: #215398;
$lightGrey: #f5f5f5;
$greySection: #808080;
$darkGrey:  #2d3236;
$redColor: #ff3859;
$text-xl: 40px;
$text-l: 30px;
$text-m: 20px;
$text-s: 15px;
$carousel-lg-width: 495px;
$carousel-lg-height: 288px;
$carousel-md-width: 600px;
$carousel-md-height: 400px;
$carousel-sm-width: 300px;
$carousel-sm-height: 200px;

$main-color: #787878;
$header-logo: #383838;
$menu-active: #1d9ed9;
$right-column-txt: #1d9ed9;
$right-column-bk: #f2f2f2;
